@font-face {
    font-family: "Monsterrat";
    src: url("./../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

.detail_league_header {
    padding-inline: 3%;

    img {
        width: 300px;
        height: 300px;
    }
}

.detail_league_main {
    padding-inline: 3%;

    ul {

        a {
            text-decoration: none;

            li {
                list-style-type: none;
                padding-bottom: 2.25rem;
                font-family: "Monsterrat";
                font-weight: bold;
                
                span {
                    font-size: 3rem;
                    margin-right: 0.625rem;
                }
            }
        }
    }
}