.hero_header {
  padding-inline: 3%;
  background: url(./home_hero_background.jpeg) center / cover no-repeat;
  background-position: left;
  background-origin: padding-box;
  background-size: 800px 600px;
  height: 50vh;
}
