@font-face {
  font-family: "Open Sans";
  src: url(../src/assets/fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(../src/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(../src/assets/fonts/Inter/Inter-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

html {
  font-family: "Montserrat";
}

body {
  background-color: #24272B;
  color: #E9EAEC;
}

a {
  color: #E9EAEC;
}

button{
  background: transparent;
  border: none;
  margin: auto;
  &:hover{
    cursor: pointer;
    // filter: brightness(3);
  }
}

input {
  background-color:transparent;
  border-color: #E9EAEC;
}

.darkMode {

  background-color:#E9EAEC;
  fill: #3538e8;;
  .dropDownWrapper{
    .overlay-spo{
      background-color: #E9EAEC;
      color: #24272B;
    }
    .overlay{
      background-color: #E9EAEC;
      color: #24272B;
    }
    .react-dropdown-select-dropdown{
      background-color: #E9EAEC;
      color: #24272B;
    }
    .sportSelect{
      color: #24272B;
    }
    .countSelect{
      color: #24272B;
    }
  }
  .navbar_container{
    .searchbar{
      input{
        border: 3px solid #3538e8;
        color: #24272B;
    }
    img{
      filter: invert(100%);
    }
  }
}
  .hero_header{
    h1{
      color: #3538e8;
    }
  }
  a{
    color: #24272B;
  }
  .league_list {
    .league_list_item{

      h3{
        -webkit-text-stroke-color:#3538e8;
        color: #E9EAEC;
      }
    }
  }
}